	*{
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
	}
	body, html{
		width: 100%;
		height: 100%;
	}
	@font-face{
	 	font-family:'class';
	 	src:url("Roboto/Roboto-Medium.ttf") format("truetype");
		font-weight: 700;
	}@font-face{
	 	font-family:'class';
	 	src:url("Roboto/Roboto-Regular.ttf") format("truetype");
		font-weight: 400;
	}
	@font-face{
	 	font-family:'class';
	 	src:url("Roboto/Roboto-Bold.ttf") format("truetype");
		font-weight: 900;
	}
	h2{
		font-family: 'class';
		font-weight: 900;
	}
	.container{
		display: flex;
		flex-direction: column;
		margin-top: 100px;
		height:300px;
		width: 300px;
		background-color: grey;
    	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}
	#inp{
	    background: rgba(0, 0, 0, 0.003);
	    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
		font-family: 'class';
		font-weight: 700;
	}
	.done-true {
	  text-decoration: line-through;
	  color: red;
	}
	#main{
		    border-top: 1px solid #e6e6e6;
	}
	.fade.ng-enter {
		  transition: 2s appear;
		}
	.fade.ng-leave {
		  transition: 1s disappear;
		}
	.navigation{
		list-style: none;
		margin: 0; 
		position: fixed;
		top: 0;
		z-index: 99;
		background: deepskyblue;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.navigation li:first-child {
 		margin-right: auto;
	}

	.navigation li:nth-child(5) {
  		margin-right: 70px;
	}

	.navigation a {
		  text-decoration: none;
		  display: block;
		  padding: 1em;
		  color: white;
	}

	.navigation a:hover {
	  	  background: darken(deepskyblue, 2%);
	}

	@media all and (max-width: 800px) {
	  .navigation {
	      justify-content: space-around;
	  }
	}

	@media all and (max-width: 600px) {
	  .navigation {
	    flex-flow: column wrap;
	    padding: 0;
	  }
	  
	  .navigation a { 
	    text-align: center; 
	    padding: 10px;
	    border-top: 1px solid rgba(255,255,255,0.3); 
	    border-bottom: 1px solid rgba(0,0,0,0.1); 
	  }

	  
	  .navigation li:last-of-type a {
	    border-bottom: none;
	  }
	}
	
