<div class="container" >
	<div class="info">
		Search
	</div>
	<div class="pa4">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr class="stripe-dark" >
          <th class="fw6 tl pa3 bg-white">Name</th>
          <th class="fw6 tl pa3 bg-white">Username</th>
          <th class="fw6 tl pa3 bg-white">Email</th>
          <th class="fw6 tl pa3 bg-white">ID</th>
        </tr>
      </thead>
      <tbody class="lh-copy" >
        <tr class="stripe-dark" ng-repeat = "emp in employer track by $index" ng-click="modal($index)">
          <td class="pa3">{{emp.name}}</td>
          <td class="pa3">{{emp.uname}}</td>
          <td class="pa3">{{emp.email}}</td>
          <td class="pa3">{{emp.id}}</td>
        </tr>
      </tbody>
    </table>

    
  </div>
</div>
    <div id="modalDialog" ng-if="info" ng-click="cancel()">
      <div id="modal1">
        <div class="item" >Name: <span style="padding-left: 80px;">{{employer[index].name}}</span></div>
        <div class="item">UserName: <span style="padding-left: 45px;">{{employer[index].uname}}</span></div>
        <div class="item">Email: <span style="padding-left: 80px;">{{employer[index].email}}</span></div>
        <div class="item">Id: <span style="padding-left: 105px;">{{employer[index].id}}</span></div>
        <button class="btn btn-default" type="button" ng-click="cancel()" >X</button>

      </div>

    </div>

</div>